body{
    background-image: url(../public/imagenes/abstract-999662.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer{
    background-image: linear-gradient(to top, #8e5d65, #b3374c);
    color: white;
    margin: 0%;
    padding: 2rem;
    width: 100%;
}
.redesSociiales{
margin-top: 1rem;
}
.logoFooter{
    text-align: left;
    width: 2.5rem;
    height: 2.5rem;
}
.header {
    display: flex;
    background-image: linear-gradient(to top, #8e5d65,#b3374c);
    color: white;
    padding-top: 10px;
    margin: auto;
}
.contenedorLogo{
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px ){ 
        display: none;
    }
}
.logo{
    width: 80px;
    margin-top: 1rem;
}
.ItemNavBar{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.navBar {
    display: flex;

    @media screen and (max-width: 768px ){} 
}
li{
    display: inline;
    margin: 0px 3px ;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.puntosNavBar{  
    display: flex;
    align-items: center;
    margin: 0px 120px;
}
.card{
    width: 18rem;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.contenedorCard{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.carrito{
    width: 30px;
}
.titulo{
    display: flex;
    align-items: center;
}